.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.margin-top-bottom{
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-width{
  width: 40%;
}